/* Imported fonts: Caveat, Rock Salt and Seaweed: */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rock+Salt&family=Seaweed+Script&display=swap');

/* Imported fonts: Kalam, Krist & Swanky and Moo Moo: */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Kristi&family=Swanky+and+Moo+Moo&display=swap');

.containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94%;
    background: url("../../woodbackground.jpeg") no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.listsBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    min-height: 800px;
    width: 100vw;
    max-width: 1100px;
    min-width: 900px;
    background-image: url("../../bookpng.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.readsWants {
    font-family: 'Kalam';
    font-weight: bold;
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin-top: 5%;
}

.listsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 58%;
    margin-bottom: 2%;
}

.readList {
    display: flex;
    flex-direction: column;
    font-family: "Kalam";
    font-weight: bold;
    font-size: large;
    overflow-y: hidden;
    overflow: scroll;
    margin-right: 0.5em;
    padding-right: 0.5em;
}

.wantList {
    display: flex;
    flex-direction: column;
    font-family: "Kalam";
    font-weight: bold;
    font-size: large;
    overflow-y: hidden;
    overflow: scroll;
    margin-left: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.readList::-webkit-scrollbar, .wantList::-webkit-scrollbar {
    display: none;
}