.containerContainer {
    display: flex;
    justify-content: center;
}

.listsContainer {
    display: flex;
}

.readList {
    display: flex;
    flex-direction: column
}

.wantList {
    display: flex;
    flex-direction: column
}