.searchResult {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 3vh;
    height: 20vh;
}

.titleAuthor {
    margin-left: 1.5vw;
    width: 13em;
}

.bookIcon {
    height: 10em;
    width: 8em;
}

.addButton {
    margin-right: 1.5vw
}