.searchResult {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 1.5vh 0;
    height: 20vh;
    min-height: 240px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.4);
    padding: 0 0 20px 0;
}

.searchResult:last-child {
    border-bottom: none;
}

.titleAuthor {
    width: 15em;

}

.bookIcon {
    height: 10em;
    width: 8em;
}

.addButton {
    display: flex;
    flex-direction: column;
    height: 10vh;
    min-height: 80px;
    max-height: 100px;
    justify-content: space-around;
    align-items: center;
}

/* button:disabled {
    content: "Added!";
} */