.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #3d4450;
  height: 6vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-search {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.search-by-title {
  font-size: 1.3rem;
  width: 80%;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 35px;
  font-size: 1.1rem;
}

.search-field {
  height: 70%;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 60%;
}

.root-link {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.app-favicon {
  height: 40px;
  width: 120px;
  margin-left: 5px;
}