.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #2c313a;
  height: 6vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-search {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.search-by-title {
  display: flex;
  font-size: 1.3rem;
  width: 80%;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 35px;
  font-size: 1.1rem;
  padding: 0;
}

.search-field {
  height: 70%;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 60%;
}

.root-link {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.app-favicon {
  height: 40px;
  width: 120px;
  margin-left: 5px;
}

.arrow-right, .arrow-left {
  height: 20px;
  width: 20px;
  transition: all;
}

.arrow-right:hover, .arrow-left:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.delete-button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
}

.edit-button {
  width: 50px;
  height: 30px;
  padding: 0;
}

.list-buttons {
  display: flex;
  justify-content: space-around;
}